DATABASE_URL=postgresql+asyncpg://user:password@postgres:5432/fast_queue_db
KAFKA_SERVER=kafka:9092
REDIS_URL=redis://redis:6379
FIREBASE_ADMIN_SDK_PATH=firebase.json
PAYMENT_SERVICE_URL=http://payment-service:8001/v1/payments